{% extends 'base.html'%}
{% block content %}
<div class="container">
<div class="row">
 <div class="col-md-4">
   <h3> {{user.username| capitalize}} </h3>
   {% if user.bio %}
     <p> {{user.bio}}</p>
   {%else%}
     <p> {{user.username| capitalize}} has no bio </p>
   {% endif %}
   {% if user == current_user %}
     <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
   {% endif %}
 </div>
 
 <div class="col-md-4">
   {% if user.profile_pic_path %}
   <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
   {%else%}
   <p>No profile picture</p>
   {% endif %}
     {% if user == current_user %}
   <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">
     <input type="file"  name="photo" class="form-control" required>
     <input type="submit">
     {% endif %}
   </form>
 </div>
</div>
<div>
  <h1 style="color:lightblue; text-align: center;text-underline-position: below">Your Pitches:</h1>
  {% for pitch in description %}
  <div class="col-md-6">
    <div class="thumbnail text-center">
    
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <h2>{{pitch.description}}</h2>
        <footer class="blockquote-footer"> Posted by {{pitch.user.username}}</footer>
      </blockquote>
      
      <a href="{{url_for('main.new_comment',pitch_id = pitch.id)}}" class="btn btn-info"> Add a comment</a>
      <a href="{{url_for('main.upvote',pitch_id = pitch.id)}}"><i class="fa fa-thumbs-up" style="font-size:24px;color:lightblue"></i>Upvote <span>{{pitch.upvotes.count()}}</span></a>
      <a href="{{url_for('main.downvote',pitch_id = pitch.id)}}"><i class="fa fa-thumbs-down" style="font-size:24px;color:lightblue"></i>Downvote <span>{{pitch.downvotes.count()}}</span></a>


    </div>
  </div>

  </div>
     {% endfor %}
</div>
</div>
{% endblock %}